
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
</head>
<body>
  <div id="error">{{error}}</div>
  <div>
    <form id="form" action="/" method="GET">
        <label>Name</label><input name="name" type="text" required />
        <label>password</label><input name="password" type="text" required/>
        <!-- <label>email</label><input name="email" type="text" required/> -->
        <button type="submit">Submit</button>
      </form>
  </div>
  <script src="http://localhost:8000/encrypt_pw.js" type="module"></script>
</body>
    