
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
</head>
<body>
  <div id="error">{{error}}</div>
  <div>
    <form id="form" action="/" method="GET">
        <label>Name</label><input name="name" type="text" id='name' required />
        <label>password</label><input name="password" type="text" id="password" required/>
        <!-- <label>email</label><input name="email" type="text" required/> -->
        <button type="submit">Submit</button>
      </form>
  </div>
  <!-- <script src="./node_modules/bcrypt" type="text/javascript"></script> -->
  <script src=./test1.js type="module"></script>
</body>
    