
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.2.0/bcrypt.min.js"></script> -->

  <!-- <script type="module"> import aleaGenerator from 'https://cdn.jsdelivr.net/npm/alea-generator@1.0.0/+esm' </script> -->
</head>
<body>
  <div id="error">{{error}}</div>
  <div>
    <form id="form">
        <label>Name</label><input name="n_name" type="text" id='id_name' required />
        <label>password</label><input name="n_password" type="text" id="id_password" required/>
        <label>email</label><input name="n_email" type="text" id="id_email" required/>
        <button type="submit" id="id_button">Submit</button>
      </form>
  </div>
  // <!-- <script src="./node_modules/bcrypt" type="text/javascript"></script> -->
  <script src=./test1.js type="module"></script>
</body>
